:root {
  --retro-title: #ddff27;
  --retro-accent: #ccffa6;
  --retro-bg: #3c5ed9;
  --retro-text: #a6fffc;
  --font-jersey: 'Jersey 25', monospace;
  --font-lexend: 'Lexend', sans-serif;
  --font-size-base: 2rem;
  --font-size-title: 4rem;
}

@font-face {
    font-family: 'Lexend';
    src: url('../app/assets/fonts/Jersey25-Regular.woff2') format('woff2'),
        url('../app/assets/fonts/Lexend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jersey 25';
    src: url('../app/assets/fonts/Jersey25-Regular.woff2') format('woff2'),
        url('../app/assets/fonts/Jersey25-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: var(--font-lexend);
  background-color: var(--retro-bg);
  color: var(--retro-text);
  font-size: var(--font-size-base);
  margin: 2rem;
  padding: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: var(--font-jersey);
  color: var(--retro-title);
  font-size: var(--font-size-title);
  text-align: center;
}
p {
   text-align: center;
}

.text {
  font-family: var(--font-lexend);
  font-size: var(--font-size-base);
  color: var(--retro-text);
}